{% extends 'plantilla.html' %}

{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded">
        <h1 class="mb-4">Nuevo Animal</h1>
        <form action="{% url 'guardar_animal' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Nombre Común</label>
            <input type="text" name="nombre_comun" class="form-control" required>

            <label>Nombre Científico</label>
            <input type="text" name="nombre_cientifico" class="form-control">

            <label>Tipo</label>
            <input type="text" name="tipo" class="form-control" placeholder="Ej: Ave, Mamífero" required>

            <label>Imagen</label>
            <input type="file" name="imagen" class="form-control mb-3">

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-outline-danger" href="{% url 'lista_animales' %}">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<br>
{% endblock %}
